body {
    margin: 0;
    font-family:'Segoe UI', sans-serif;
    background-color: rgb(221, 221, 235);
    color: #333;


}
.Menu{
    background-color: #2a5298;
    padding: 15px 0;
    position: sticky; /*menu fixo, sempre no topo*/
    top: 0; /*posição 0- posição acima*/
    z-index: 1000; /*fica sempre por cima dos outros conteudos, qnt maior o nmr "mais por cima" fica*/
    box-shadow: black 0 2px 10px ; /*caixa com sombra*/
}
.menu-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu-logo{
    color: white;
    text-decoration: none; /*link sem sublinhamento*/
    font-weight: bold; /*negrito*/
    font-size: 1, 2rem; /*1, 2 *16px*/
    text-transform: uppercase; /*letra maiúscula*/
}
.lista{
    list-style: none;/*tira as bolinhas*/
    display:flex;/*alinha os itens*/
    gap: 20px;/*espaço entre os elementos*/
    margin: 0;/*barra curta*/
    padding: 0;/*barra curta*/
}
.lista a{
    color: #cbdcf7;
    text-decoration: none;
    font-size: 0,9rem;/*1 rem = 16 pixel*/
    font-weight: 500;/*"peso" da fonte*/
    transition: color 0.3s;/*muda a cor do link qnd o mouse passa por cima*/
}
.lista a:hover{
    color: antiquewhite;
}
.cabecalho{
    background-color: rgb(24, 23, 80);
    color: #fff;
    padding: 60px 20px;
    margin: none;
    text-align: center;
}
.cabecalho h1{
    font-size: 2,5rem;
    margin-bottom: 5px;
}
.cabecalho h2{
    font-weight: 300;
    font-style: italic;
    color: rgb(168, 146, 18);
}
.principal{
    max-width: 900px;
    margin: -40px auto 40px;
    padding: 20px;

    }
.cabecalho-logo{
    border-radius: 10px;
}
.missao-valores{
    background-color: rgb(236, 233, 228);
    padding: 40px 25px;
    border-radius: 20px;
    gap: 10px;
    text-align: left;
    box-shadow: #a3a0a0 2px 2px 2px;
    margin: none;
}
.pilares-container{
    gap: 10px;
    font-size: 15px;
}
.objetivos{
    background-color: rgb(236, 233, 228);
    padding: 25px 30px;
    border-radius: 20px;
    gap: 10px;
    text-align: left;
    box-shadow: #a3a0a0 2px 2px 2px;
    margin: 40px auto -40px;
}
.data{
    display: flex;
    padding: 20px 20px;
    background-color: rgb(236, 233, 228);
    border-radius: 20px;
    gap: 10px;
    margin: 80px auto -80px;
    box-shadow: #a3a0a0 2px 2px 2px;
}
.data-container{
    gap: 20px;
    font-size: 15px;
    background-color: rgb(208, 211, 241);
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: inset rgb(119, 119, 238) 4px 0 0; /*sombra interna*/
}
.encerramento{
    gap: 20px;
    font-size: 15px;
    background-color: rgb(208, 211, 241);
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: inset rgb(119, 119, 238) 4px 0 0; /*sombra interna*/
}
.momento{
    background-color: rgb(236, 233, 228);
    padding: 30px 20px;
    border-radius: 20px;
    gap: 10px;
    text-align: left;
    box-shadow: #a3a0a0 2px 2px 2px;
    margin: 120px auto -120px;
}
.um{
     background-color: rgb(208, 241, 210);
     border-radius: 5px;
     padding: 0.05px 2px;
     color: green;
     margin: 5px auto 5px;
     font-weight: bold;
    
}
.dois{
    background-color: rgb(208, 241, 210);
    border-radius: 5px;
    padding: 0.05px 2px;
    color: green;
    margin: 10px auto -10px;
    font-weight: bold;
}
.tres{
    background-color: rgb(208, 241, 210);
    border-radius: 5px;
    padding: 0.05px 2px;
    color: green;
    margin: 20px auto -20px;
    font-weight: bold;    
}
section {
  
    background: white;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.texto-introducao{
    line-height: 1,6;/*melhora a leitura do texto, procurar usar*/
    margin-bottom: 20px;
    text-align: justify;
    
}
.lista-valores{
    
    list-style: none;
    padding: 0;
}
.lista-valores li{
    background: #cbdcf7;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 5px solid rgb(16, 16, 59);

}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}
th, td{/*celulas cabeçalho e corpo*/
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: #2a5298;
}
tr :hover{
 background-color: #f0ebeb;
}
.box-amarela{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background: yellow;
}
.box-cinza {
    width: 25px; height: 25px;
    border-radius: 4px;
    background: gray;
}
.box-laranja{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: orange;
}
.box-marrom{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: brown;
}
.box-preto{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: black;
}
.box-rosa{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: rgb(255, 0, 212);
}
.box-roxo{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: rgb(109, 0, 109);
}
.box-verde{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: greenyellow;
}
.box-vermelho{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: red;
}
.itens{
    align-items: center;
    gap: 10px;
    background-color: rgb(238, 222, 164);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(197, 170, 50);
    border-style: dashed;
}
.suplementos{
   padding: 20px 30px;
   background-color: rgb(255, 228, 228);
   border-left: red 5px solid;
}
h4{
    color: rgb(158, 145, 23);
}
.M{
    border-left: 5px solid #a5a202;
    background-color:  rgb(250, 239, 205);
}
footer{
    background-color: #2a5298;
    border-top:solid #f1ee04;
    text-align: center;
    color: aliceblue;
    gap: 10px;
    padding: 30px;
    margin-top: 150px;
}
.evento{
    margin-bottom: 25px;/*espacamento fora da borda*/
    position: relative;/*"flutuar na página"*/
}
.evento ::before{/*elemento fantasma-aparece como primeiro elemento*/
    content: ""; /*"modo arquiteto-necessário para colocar a linha do lado*/
    width: 12px;
    height: 12px;
    background: rgb(255, 43, 43);
    border-radius: 50%;
    position: absolute;
    left: -28px;
    top: 5px;
}
.timeline{
    border-left: 3px solid #1b396d;
    padding-left: 20px;
    margin-top: 20px;
}
.grid-locais{
    display: flex;
    gap: 20px;
}
.unidade{
    flex: 1;/*ocupa toda a área da div*/
    background: #f0ebeb;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #ccc8c8;
}
.unidade h4{
    color: #1b396d;
    margin-top: 0;
}