body {
    margin: 0;
    font-family:'Segoe UI', sans-serif;
    background-color: rgb(221, 221, 235);
    color: #333;


}

.btn {
  padding: 12px 25px;
  background: var(--secondary);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.btn a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.btn:hover {
  background: var(--accent);
}

/* CARDS */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
}
.container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: larger;
}
.card {
    background: var(--card);
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    transition: transform 0.3s;
    
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  margin-bottom: 10px;
  color: var(--accent);
}

.Menu{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 15px 0;
    position: sticky; /*menu fixo, sempre no topo*/
    top: 0; /*posição 0- posição acima*/
    z-index: 1000; /*fica sempre por cima dos outros conteudos, qnt maior o nmr "mais por cima" fica*/
    box-shadow: black 0 2px 10px ; /*caixa com sombra*/
}
.menu-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu-logo{
    
    color: rgb(1, 9, 85);
    text-decoration: none; /*link sem sublinhamento*/
    font-weight: bold; /*negrito*/
    font-size: 1, 2rem; /*1, 2 *16px*/
    text-transform: uppercase; /*letra maiúscula*/
}
.lista{
    list-style: none;/*tira as bolinhas*/
    display:flex;/*alinha os itens*/
    gap: 20px;/*espaço entre os elementos*/
    margin: 0;/*barra curta*/
    padding: 0;/*barra curta*/
}
.lista a{
    color: #001f50;
    text-decoration: none;
    font-size: 0,9rem;/*1 rem = 16 pixel*/
    font-weight: 500;/*"peso" da fonte*/
    transition: color 0.3s;/*muda a cor do link qnd o mouse passa por cima*/
}
.lista a:hover{
    color: antiquewhite;
}
.cabecalho{
    background-color: rgb(12, 2, 58);
    color: #ffffff;
    padding: 60px 20px;
    margin: none;
    text-align: center;
}
.cabecalho h1{
    font-size: 2,5rem;
    margin-bottom: 5px;
}
.cabecalho h2{
    font-weight: 300;
    font-style: italic;
    color: #ffffff
}
.principal{
    max-width: 900px;
    margin: -40px auto 40px;
    padding: 20px;

    }
.cabecalho-logo{
    border-radius: 10px;
}
.missao-valores{
    padding: 40px 25px;
    border-radius: 20px;
    gap: 10px;
    text-align: left;
    box-shadow: #a3a0a0 2px 2px 2px;
    margin: none;
}
.pilares-container{
    gap: 10px;
    font-size: 15px;
}
.data{
    display: flex;
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    gap: 10px;
    margin: auto ;
    box-shadow: #a3a0a0 2px 2px 2px;
}
.data-container{
    gap: 20px;
    font-size: 15px;
    background-color: rgb(208, 211, 241);
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: inset rgb(119, 119, 238) 4px 0 0; /*sombra interna*/
}
.encerramento{
    gap: 20px;
    font-size: 15px;
    background-color: rgb(208, 211, 241);
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: inset rgb(119, 119, 238) 4px 0 0; /*sombra interna*/
}
.momento{
    gap: 10px;
    text-align: left;
    margin: 20px auto -20px ;
}
.um{
     background-color: rgb(208, 211, 241);
     border-radius: 5px;
     padding: 0.05px 2px;
     color:  rgb(12, 2, 58);
     margin: 5px auto 5px;
     font-weight: bold;
    
}
.dois{
    background-color: rgb(208, 211, 241);
    border-radius: 5px;
    padding: 0.05px 2px;
    color:  rgb(12, 2, 58);
    margin: 10px auto -10px;
    font-weight: bold;
}
.tres{
    background-color: rgb(208, 211, 241);
    border-radius: 5px;
    padding: 0.05px 2px;
    color:  rgb(12, 2, 58);
    margin: 20px auto -20px;
    font-weight: bold;
    
    
}
section {
    margin: auto;
    background: white;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.texto-introducao{
    line-height: 1,6;/*melhora a leitura do texto, procurar usar*/
    margin-bottom: 20px;
    text-align: justify;
    
}
.lista-valores{
    
    list-style: none;
    padding: 0;
}
.lista-valores li{
    background: #cbdcf7;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border-left: 5px solid rgb(16, 16, 59);

}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}
th, td{/*celulas cabeçalho e corpo*/
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{
    background-color:  rgb(12, 2, 58);
    color: white;
}
.box-amarela{
    width: 25px;
    height: 25px;
    border-radius: 4px;
    background: yellow;
}
.itens{
    align-items: center;
    gap: 10px;
    background-color: rgb(248, 228, 163);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid yellow;
    border-style: dashed;
}
.suplementos{
   padding: 20px 30px;
   background-color: rgb(231, 228, 255);
   border-left: 5px solid  rgb(12, 2, 58);
}
h4{
    color: rgb(158, 145, 23);
}
.M{
    border-left: 5px solid  rgb(12, 2, 58);
    background: #fdffdd;
}
.etapa{
    display: flex;
    padding: 0%;
    gap: 2px;
}
.etapas{
    border-left: 5px solid  rgb(12, 2, 58);
    background: #e7ecf5;
    border-radius: 5px;
    padding: 20px 15px;
}
.box-cinza {
    width: 25px; height: 25px;
    border-radius: 4px;
    background: gray;
}
.box-laranja{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: orange;
}
.box-marrom{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: brown;
}
.box-preto{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: black;
}
.box-rosa{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: rgb(255, 0, 212);
}
.box-roxo{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: rgb(109, 0, 109);
}
.box-verde{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: greenyellow;
}
.box-vermelho{
    width: 25px; height: 25px;
    border-radius: 4px;
    background: red;
}
.evento{
    margin-bottom: 25px;/*espacamento fora da borda*/
    position: relative;/*"flutuar na página"*/
}
.evento ::before{/*elemento fantasma-aparece como primeiro elemento*/
    content: ""; /*"modo arquiteto-necessário para colocar a linha do lado*/
    width: 12px;
    height: 12px;
    background: rgb(255, 43, 43);
    border-radius: 50%;
    position: absolute;
    left: -28px;
    top: 5px;
}
.timeline{
    border-left: 3px solid rgb(12, 2, 58);
    padding-left: 20px;
    margin-top: 20px;
}
.grid-locais{
    display: flex;
    gap: 20px;
}
.unidade{
    flex: 1;/*ocupa toda a área da div*/
    background: #f0ebeb;
    border-radius: 8px;
    padding: 15px;
    border: 1px solid #ccc8c8;
}
.unidade h4{
    color:  rgb(12, 2, 58);
    margin-top: 0;
}
.formato tr{
    gap: 10px;
}
.ul{
    list-style: none;
    padding: 0;
    gap: 2px;
}
.li{
    background: #e3edfc;
    padding: 2px;
    margin-bottom: 5px;
    border-radius: 8px;
    border-left: 5px solid  rgb(12, 2, 58);
}
.mascote{
    list-style: none;
    padding: 5px;
    color: rgb(158, 145, 23);
}
.mascote li{
    padding: 10px;
    
}
.coluna{
    flex: 1;
}
.u{
    list-style: none;
}
.tabela{
  display: flex;
  color: rgb(158, 145, 23);
}
footer {
    background-color:rgb(12, 2, 58);
    border-top: solid #ffd000;
    text-align: center;
    color: white;
    gap: 10px;
    padding: 30px;
}
.index{
    color: rgb(0, 0, 0);
    font-size: 0.9rem;
    margin-top: 10px;
    justify-content: center;
    align-items:self-end;
    gap: 10px;
    gap: 100px;
    display:flex;
}

.indexzero{
    font-family: 'Segoe UI', sans-serif;
    color: rgb(12, 2, 58);
    font-size:x-large;
}

.index-logo{
    width: 150px;

}
.form-group{
     margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100px;
}
button {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.resultado-box {
    margin-top: 20px;
    padding: 15px;
    background-color: #eef5ff;
    border-left: 5px solid #1e3c72;
    font-weight: bold;
    font-size: 1.2rem;
}
