body {
    /* cor de fundo*/
    background-color: #1e3b37;
    /*flexbox*/
    display: flex;
    /*alinhamento horizontal*/
    justify-content: center;
    /*alinhamento na vertical*/
    align-items: center;
    /*ocupa a tela inteira*/
    height: 100vh;
}
/*para referenciar o class usamos "."*/
/*usamos class para reutilizar estilos,(usa a mesma caixa div)*/
.cartao {
    background-color:rgb(181, 231, 216);
    /* cantos arredondados */
    border-radius: 10px;
    /*espaçamento interno*/
    padding: 20px;
    /*alinhamento do texto na div*/
    text-align: center;
    
}
button{
    border: none;
    /*cor de fundo*/
    background-color: #525151;
    /*cor do texto*/
    color: black;
    /*cantos arredondados*/
    border-radius: 10px;
    /*espaçamento interno*/
    padding: 10px 20px;
    /*cria um cursor quando o mouse passa por cima*/
    cursor: pointer;
}
.imagem{
    /*largura*/
    width: 120px;
    /*altura*/
    height: 120px;
    /*cantos arredondados-foto circular*/
    border-radius: 50%;
    /*borda colorida, com espessura, tipo e cor*/
    border: 3px solid #fff
}