body {
    margin: 0;
    font-family:'Segoe UI', sans-serif;
    background-color: antiquewhite;
    color: #333;


}
.Menu{
    background-color: rgb(34, 34, 172);
    padding: 15px 0;
    position: sticky; /*menu fixo, sempre no topo*/
    top: 0; /*posição 0- posição acima*/
    z-index: 1000; /*fica sempre por cima dos outros conteudos, qnt maior o nmr "mais por cima" fica*/
    box-shadow: black 0 2px 10px ; /*caixa com sombra*/
}
.menu-container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu-logo{
    color: white;
    text-decoration: none; /*link sem sublinhamento*/
    font-weight: bold; /*negrito*/
    font-size: 1, 2rem; /*1, 2 *16px*/
    text-transform: uppercase; /*letra maiúscula*/
}
.lista{
    list-style: none;/*tira as bolinhas*/
    display:flex;/*alinha os itens*/
    gap: 20px;/*espaço entre os elementos*/
    margin: 0;/*barra curta*/
    padding: 0;/*barra curta*/
}
.lista a{
    color: #cbdcf7;
    text-decoration: none;
    font-size: 0,9rem;/*1 rem = 16 pixel*/
    font-weight: 500;/*"peso" da fonte*/
    transition: color 0.3s;/*muda a cor do link qnd o mouse passa por cima*/
}
.lista a:hover{
    color: antiquewhite;
}
.cabecalho{
    background-color: rgb(24, 23, 80);
    color: #fff;
    padding: 60px 20px;
    margin: none;
    text-align: center;
}
.cabecalho h1{
    font-size: 2,5rem;
    margin-bottom: 5px;
}
.cabecalho h2{
    font-weight: 300;
    font-style: italic;
    color: rgb(168, 146, 18);
}
.cabecalho-logo{
    border-radius: 10px;
}