/* Reset básico e fundo degradê */

body {
    border: 1px solid red; 
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #2a2e79;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

/* Container principal empilhado */
.container {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    text-align: center;
    max-width: 400px;
    display: flex;
     flex-direction: column; /*Empilha os itens um embaixo do outro */
     gap: 20px;  /* Espaço entre header, section e footer */
}

/* Estilizando o cabeçalho */
header h1 {
    margin: 0;
    color: #1e3c72;
    letter-spacing: 2px; 
}

.subtitulo {
    font-size: 0.9rem;
    color: #666; 
}

/* Seção de Conteúdo e Lista */
.banner {
     width: 120px;
    height: 120px;
    border-radius: 10px;
}

ul {
     list-style: none; /* Remove as bolinhas */
     padding: 0; 
     text-align: left; /*Alinha a lista à esquerda para ficar mais organizado */
     margin: 20px auto;
     display: inline-block; 
}

li {
     padding: 10px 0; 
     border-bottom: 1px solid #eee; /* Linha sutil entre itens */
}

/* Botão com efeito de estado */
.btn-inscricao {
     background-color: #ff4b2b;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s; 
}

.btn-inscricao:hover {
    background-color: #ff416c;
    transform: translateY(-3px); 
}

footer p {
    border: 1px solid red;
     font-size: 0.8rem;
    margin-top: 30px;
    color: #999; 
    padding-top: 10px;
}